SIANWEB/Web References/wsClienteTerritorio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardaAutClienteTerritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlClienteTerritorio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlClienteTerritorioAnt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaAutClienteTerritorioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizaAutClienteTerritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlClienteTerritorio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaAutClienteTerritorioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardaAutClienteTerritorioSoapIn">
    <wsdl:part name="parameters" element="tns:GuardaAutClienteTerritorio" />
  </wsdl:message>
  <wsdl:message name="GuardaAutClienteTerritorioSoapOut">
    <wsdl:part name="parameters" element="tns:GuardaAutClienteTerritorioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaAutClienteTerritorioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaAutClienteTerritorio" />
  </wsdl:message>
  <wsdl:message name="ActualizaAutClienteTerritorioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaAutClienteTerritorioResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GuardaAutClienteTerritorio">
      <wsdl:input message="tns:GuardaAutClienteTerritorioSoapIn" />
      <wsdl:output message="tns:GuardaAutClienteTerritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaAutClienteTerritorio">
      <wsdl:input message="tns:ActualizaAutClienteTerritorioSoapIn" />
      <wsdl:output message="tns:ActualizaAutClienteTerritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardaAutClienteTerritorio">
      <soap:operation soapAction="http://tempuri.org/GuardaAutClienteTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaAutClienteTerritorio">
      <soap:operation soapAction="http://tempuri.org/ActualizaAutClienteTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardaAutClienteTerritorio">
      <soap12:operation soapAction="http://tempuri.org/GuardaAutClienteTerritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaAutClienteTerritorio">
      <soap12:operation soapAction="http://tempuri.org/ActualizaAutClienteTerritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://207.248.253.97/wsClienteTerr/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://207.248.253.97/wsClienteTerr/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>