SIANWEB/Web References/ConsultaVentaMensualBennetts/ConsultaVentaMensual.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaVentaMensual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idBD" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id_Cd" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Anio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaVentaMensualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaVentaMensualResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaVentaMensualSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaVentaMensual" />
  </wsdl:message>
  <wsdl:message name="ConsultaVentaMensualSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaVentaMensualResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportesSoap">
    <wsdl:operation name="ConsultaVentaMensual">
      <wsdl:input message="tns:ConsultaVentaMensualSoapIn" />
      <wsdl:output message="tns:ConsultaVentaMensualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportesSoap" type="tns:ReportesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaVentaMensual">
      <soap:operation soapAction="http://tempuri.org/ConsultaVentaMensual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportesSoap12" type="tns:ReportesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaVentaMensual">
      <soap12:operation soapAction="http://tempuri.org/ConsultaVentaMensual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reportes">
    <wsdl:port name="ReportesSoap" binding="tns:ReportesSoap">
      <soap:address location="http://187.189.153.107:7596/ConsultaVentaMensualBennet/ConsultaVentaMensual.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportesSoap12" binding="tns:ReportesSoap12">
      <soap12:address location="http://187.189.153.107:7596/ConsultaVentaMensualBennet/ConsultaVentaMensual.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>